.about_me {
    position: relative;
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -4em;
    /* background-color: var(--violet); */
    background-image: linear-gradient(to right top, #6e07f3, #8336f5, #9652f7, #a76bf8, #b683f9);
    padding: 1rem;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 8%);
    color: var(--white);
    z-index: -1;
}

.about_me:hover {
    box-shadow: 9.9px 9.9px 15px #d9dade, -9.9px -9.9px 15px #fff,
        inset 9.9px 9.9px 15px #d9dade, inset -9.9px -9.9px 15px #fff;
    border: 4px solid var(--violet);
    transition: 0.3s;
}

.about_me .name {
    /* font-weight: 600; */
    font-size: 2.5rem;
    color: var(--violet);
    display: flex;
    justify-content: center;
}

.about_me:hover .name,
.about_me:hover .details {
    color: var(--violet);
}

.details {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.about_me .details {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2.2rem;
    padding-bottom: 20px;
}

.about_me .details h3 {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
}

.about_me .details p {
    font-size: 1.2rem;
    padding-top: 0;
}

/*--------------DYNAMIC-TEXT--------------*/

.wrapper {
    display: flex;
    justify-content: center;
}

.wrapper .static-txt {
    color: var(--white);
    margin: auto 0;
    font-size: 1.7rem;
    font-weight: 400;
}

.wrapper .dynamic-txts {
    text-align: start;
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li {
    list-style: none;
    color: var(--black1);
    font-size: 1.7rem;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background: #9652f7; */
    background: linear-gradient(to right top, #9c5af8, #9f60f7);  
    border-left: 2px solid ;
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

@media only screen and (max-width: 768px) {

    .profile-card,
    .about_me {
        width: 90%;
        padding: 0;
    }

    .about_me .details h3 {
        font-size: 0.9rem;
    }

    .wrapper .static-txt {
        font-size: 0.8rem;
    }

    .wrapper .dynamic-txts li {
        font-size: 0.8rem;
    }

    .about_me .details p {
        font-size: 0.7rem;
    }
}