.cardBox,
.skill {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

.cardBox .card,
.skill .skillCard {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    border: 4px solid var(--white);  
}

.skillCard {
    height: 80px;
    width: 250px;
}

.cardBox .card .details,
.cardBox .card .details a,
.skill .skillCard .details {
    position: relative;
    /* margin: 0; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    color: var(--violet);
    padding: 0;
}

.cardBox .card .details a {
    text-decoration: none;
}

.cardBox .card .iconBx,
.skill .skillCard .iconBx {
    display: flex;
    align-items: center;
    font-size: 2.5em;
    color: var(--black2);
}

.cardBox .card:hover,
.aboutMe:hover,
.skill .skillCard:hover {
    box-shadow: 9.9px 9.9px 15px #d9dade,
    -9.9px -9.9px 15px #ffffff,
    inset 9.9px 9.9px 15px #d9dade,
    inset -9.9px -9.9px 15px #ffffff;
    border: 4px solid var(--violet);  
    transition: 0.5s;
}

.cardBox .card:hover .details,
.cardBox .card:hover .details a,
.cardBox .card:hover .iconBx,
.aboutMe:hover .name,
.aboutMe:hover .details,
.skill .skillCard:hover .details {
    color: var(--violet);
}

.skill .skillCard:hover .iconBx {
    color: var(--clr);
}
