.certificate .text {
    padding: 0 1rem;
    
}

.certificate .school-title {
    padding: 1rem;
    color: var(--violet);
    font-size: 1.2rem;
}

.certificate a{
    text-decoration: none;
    color: black;
}

