
.CV {
    position: relative;
    background: var(--white);
    width: 100%;
    margin: 20px;
    /* padding: 30px; */
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    grid-template-areas: "aside header header header"
    "aside article article article";
}

.CV h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
}

.CV .aside .title i,
.CV .header .title i,
.CV .article .title i{
    position: absolute;
    top: 20px;
    left: -15px;
    width: 100%;
    height: 50px;
    background: var(--blue);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    font-style: normal;
}

.CV .aside .title i::before,
.CV .aside .title1 i::before,
.CV .header .title i::before,
.CV .article .title i::before {
    content: '';
    position: absolute;
    width: 15px;
    top: 50px;
    left: 0;
    height: 30px;
    background: rgb(61, 89, 180) ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.CV .aside .title i::after,
.CV .aside .title1 i::after,
.CV .header .title i::after,
.CV .article .title i::after {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 15px;
    background: var(--blue);
    z-index: 1;
}

.CV .header {
    grid-area: header;
}

.CV .aside {
    grid-area: aside;
}

.CV .article {
    grid-area: article;
}

.CV .header,
.CV .aside,
.CV .article {
    position: relative;
    background: var(--white);
    /* padding: 30px; */
    border-radius: 20px;
    padding-top: 0;
    display: grid;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.CV .aside ul {
    /* position: absolute; */
    margin-top: 100px;
    margin-bottom: 0;
}

.CV .aside ul li {
    list-style: none;
}

.CV .aside .skillz {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.CV .aside ul li .card,
.CV .aside .skillCard {
    position: relative;
    background: var(--white);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.CV .aside ul li .details,
.CV .aside .skillCard .details {
    position: relative;
    margin: 0;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    color: var(--blue);
    background: orange;
    text-decoration: none;
}

.CV .aside ul li .iconBx,
.CV .aside .skillCard .iconBx {
    display: flex;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    color: var(--black2);
    background: #f00;
}

/* .CV .header {
    display: flex;
    flex-direction: column;
}

.CV .header h1 {
    background: rgb(155, 30, 30);
    text-align: center;
    font-size: 2em;
    color: var(--blue); }*/
    /* margin: 10px; */


.CV .header .details,
.CV .article .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* top: 20px; */
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 0;
}


.CV .header .details h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: var(--black1);
    top: 60px;
    padding-top: 20px;
}

/* SKILLS */

.hardskill,
.aside .contacts {
    display: flex;
    /* border: 2px solid #9da2ad; */
    padding: 0;
    padding-top: 25px;
    border-radius: 30px;
    position: relative;
}

.softskill {
    padding: 0;
    padding-top: 25px;
    border-radius: 30px;
    position: relative;
}

.aside .contacts {
    padding-top: 20px;
}


.hardskill .title i::before,
.softskill .tittle i::before,
.aside .contacts .title i::before {
    content: '';
    position: absolute;
    width: 15px;
    top: 50px;
    left: 0;
    height: 30px;
    background: rgb(61, 89, 180) ;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
}

.hardskill .title i::after,
.softskill .tittle i::after,
.aside .contacts .title i::after {
    content: '';
    position: absolute;
    top: 50px;
    width: 15px;
    height: 15px;
    background: var(--blue);
    z-index: 1;
}

.hardskill  .name,
.softskill .name,
.aside .contacts .name {
    display: flex;
    flex-direction: column;
    color: #6d7587;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 1em;
    /* font-weight: 500; */
    margin-right: 10px;
}

.hardskill  .name span,
.softskill .name span,
.aside .contacts .name span {
    margin: 5px 0;
    height: 30px;
    border-radius: 20px;
    /* box-shadow: 9.9px 9.9px 15px #d9dade,
            -9.9px -9.9px 15px #ffffff; */
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    /* border: 4px solid #ebecf0; */
    /* transition: 0.2s; */
    cursor: pointer;
}

.aside .contacts .name span {
    text-align: left;
}

.hardskill  .name span:hover,
.softskill .name span:hover,
.aside .contacts .name span:hover {
    box-shadow: 9.9px 9.9px 15px #d9dade,
        -9.9px -9.9px 15px #ffffff,
        inset 9.9px 9.9px 15px #d9dade,
        inset -9.9px -9.9px 15px #ffffff;
    color: #1a60f2;
}

.bar-container,
.aside .contacts .name{
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    margin-right: 10px;
}

.bar {
    width: 200px;
    height: 20px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #d9dade,
    inset -6px -6px 6px #ffffff;;
}

.bar .progress {
    height: 100%;
    background: linear-gradient(to right, #0e3fea, #1d69f5);
    border-radius: 20px;
}

.bar:nth-child(1) .progress {
    width: 80%;
}

.bar:nth-child(2) .progress {
    width: 60%;
}

.bar:nth-child(3) .progress {
    width: 40%;
}
