#portfolio,
#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

.filter,
.filter-skills {
    display: flex;
    justify-content: center;
    padding: 1.4rem 0;
}

.filter-button,
.filter-skills-button {
    font-size: 1rem;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1.4rem;
    background-color: #fff;
    border: 0.2rem solid var(--violet);
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.filter-button:hover,
.filter-skills-button:hover {
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 20%);
    transform: translateY(-0.25rem);
    border: 0.2rem solid var(--violet);
    background-color: var(--violet);
    transition: 0.3s;
    color: var(--white);
}

.filter-button.active,
.filter-skills-button.active {
    background-color: var(--violet);
    color: #fff;
}

.projects,
.hardskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
}

.project {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 49%;
    height: 35rem;
    padding: 1rem;
    border-radius: 1.4rem;
    background-color: #fff;
    border: 0.2rem solid var(--white);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 20%);
    transition: all 0.3s ease-in-out;
}

.project h3,
.hardskills h3 {
    font-weight: 600;
    font-size: 1.4rem;
    padding: 0 0 1rem 0;
    text-align: center;
    color: var(--violet);
}

.project .working {
    color: var(--violet);
}

.project:first-child .text {
    height: 6rem;  
}

.project:first-child:hover {
    height: 50rem;  
}

.project:first-child:hover .text {
    height: 9rem;
    overflow: visible;
    transition: all 0.3s ease-in-out;
} 

.project .tag {
    bottom: 0;
    padding: 1rem 0;
    position: absolute;
    display: flex;
}

.project .tag * {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 0.2rem solid;
    border-radius: 1.4rem;
    font-size: small;
}

.project .tag .javascript {
    color: #f0db4f;
}

.project .tag .javascript:hover {
    color: var(--white);
    background-color: #f0db4f;
    border: 0.2rem solid #f0db4f;
}

.project .tag .bootstrap {
    color: #553c7b;
}

.project .tag .tailwind {
    color: #38BDF8;
}

.project .tag .symfony {
    color: #000000;
}

.project .tag .symfony:hover {
    color: var(--white);
    background-color: #000000;
    border: 0.2rem solid #000000;
}

.project .tag .tailwind:hover {
    color: var(--white);
    background-color: #38BDF8;
    border: 0.2rem solid #38BDF8;
}

.project .tag .bootstrap:hover {
    color: var(--white);
    background-color: #553c7b;
    border: 0.2rem solid #553c7b;
}

.project .tag .laravel {
    color: #f05340;
}

.project .tag .laravel:hover {
    color: var(--white);
    background-color: #f05340;
}


.project .tag .blade {
    color: #e42d27;
}

.project .tag .blade:hover {
    color: var(--white);
    background-color: #e42d27;
    border: 0.2rem solid #e42d27;
}

.project .tag .php {
    color: #787cb5;
}

.project .tag .php:hover {
    color: var(--white);
    background-color: #787cb5;
    border: 0.2rem solid #787cb5;
}

.project .tag .phpmyadmin {
    color: #f89c0e;
}

.project .tag .phpmyadmin:hover {
    color: var(--white);
    background-color: #f89c0e;
    border: 0.2rem solid #f89c0e;
}

.project .tag .mysql {
    color: #00758f;
}

.project .tag .mysql:hover {
    color: var(--white);
    background-color: #00758f;
    border: 0.2rem solid #00758f;
}

.project .tag .api {
    color: var(--black1);
}

.project .tag .api:hover {
    color: var(--white);
    background-color: var(--black1);
    border: 0.2rem solid var(--black1);
}

.project:hover,
.skills:hover,
.frontend-card:hover,
.backend-card:hover,
.environment-card:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 20%);
    border: 4px solid var(--violet);
}

.project-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-summary {
    font-size: 1.2rem;
    line-height: 1.5;
}

.project .text {
    padding: 0.5rem 0;
    height: 8.5rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.frontend-card,
.backend-card,
.environment-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 17rem;
    padding: 1rem;
    border-radius: 1.4rem;
    background-color: var(--white);
    border: 0.2rem solid var(--white);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 20%);
    transition: all 0.3s ease-in-out;
}

.progress-card {
    padding-top: 1rem;
    height: 11rem;
    display: flex;
    justify-content: space-evenly;
}

.skill .card {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.skill img {
    height: 8rem;
}

.skill .text {
    text-align: center;
    font-weight: 600;
}

.project-thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.project-links {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 75%);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project:hover .project-links {
    opacity: 1;
}

@media screen and (min-width: 769px) and (max-width: 1280px) and (orientation: portrait) {
    #portfolio,
    #skills {
        width: 90%;
    }

    #skills h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .filter,
    .filter-skills {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-button,
    .filter-skills-button {
        width: 28%;
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0;
    }

    .project,
    .frontend-card,
    .backend-card,
    .environment-card {
        width: 100%;
        height: 80vh;
        font-size: 0.8rem;
    }

    .skill {
        height: 60vh;
    }

    .skill h3 {
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    .progress-card {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-right: auto;
        margin-left: auto;
        height: 50vh;
    }

    .progress-card .card {
        width: 6rem;
        height: 6rem;
    }

    .project .tag * {
        font-size: 0.6rem;
        margin-right: 0.5rem;
        padding: 0.4rem;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait){
    #portfolio,
    #skills {
        width: 90%;
    }

    #skills h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .filter,
    .filter-skills {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-button,
    .filter-skills-button {
        width: 28%;
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0;
    }

    .project,
    .frontend-card,
    .backend-card,
    .environment-card {
        width: 100%;
        height: 80vh;
        font-size: 0.8rem;
    }

    .project:first-child {
        height: 57em;  
    }

    .project:first-child:hover {
        height: 57em;  
    }
    
    .project:first-child .text {
        height: 9rem;
        overflow: visible;
        transition: all 0.3s ease-in-out;
    }

    .skill {
        height: 86vh;
    }

    .skill h3 {
        font-size: 1.2rem;
        padding-bottom: 0;
    }

    .progress-card {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        height: 50vh;
    }

    .progress-card .card {
        width: 6rem;
        height: 6rem;
    }

    .project .tag * {
        font-size: 0.6rem;
        margin-right: 0.5rem;
        padding: 0.4rem;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    #portfolio {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    #skills h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .filter,
    .filter-skills {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-button,
    .filter-skills-button {
        width: 28%;
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0;
    }

    .projects {
        width: 90vw;
    }

    .project {
        overflow: auto;
        box-sizing: border-box;
        width: 90vw;
        height: 67vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8rem;
    }

    .project:hover {
        height: 70vh;
    }

    video {
        float: left;
        width: 40%;
    }

    .project .text {
        width: 57%;
        margin-left: auto;
    }

    .skill h3 {
        font-size: 1.2rem;
    }


    .progress-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-right: auto;
        margin-left: auto;
        width: 90%;

    }

    .project .tag * {
        font-size: 0.6rem;
        margin-right: 0.3rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) and (orientation: landscape) {
    #portfolio {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    #skills {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    #skills h2 {
        font-size: 1.4rem;
        text-align: center;
    }

    .filter,
    .filter-skills {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .filter-button,
    .filter-skills-button {
        width: 28%;
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0;
    }

    .projects {
        width: 90vw;
    }

    .project {
        overflow: auto;
        box-sizing: border-box;
        width: 90%;
        height: 36vh;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.8rem;
    }

    .project:first-child .text {
        height: 6rem;  
    }
    
    .project:first-child:hover {
        height: 70vh;  
    }

    video {
        float: left;
        width: 40%;
    }

    .project .text {
        width: 57%;
        margin-left: auto;
        overflow: auto;
    }

    .hardskills {
        display: flex;
        flex-direction: column;
    }

    .skill {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin-right: auto;
        margin-left: auto;
        height: 33vh;
    }

    .progress-card {
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: repeat(4, 1fr);
    }

    .project .tag {
        right: 0.5rem;
    }

    .project .tag * {
        font-size: 0.6rem;
    }
}