.navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 73px;
    background: var(--white);
    z-index: 40;
    padding: 5px;
}

.navigation ul {
    position: absolute;
    display: flex;
    gap: 40px;
}

.navigation ul li {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 180px;
    list-style: none;
}

.navigation ul li a {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--black1);
    border-radius: 20px;
    border: 4px solid var(--white);  
}

.navigation ul li a:hover {
    box-shadow: 9.9px 9.9px 15px #d9dade,
    -9.9px -9.9px 15px #ffffff,
    inset 9.9px 9.9px 15px #d9dade,
    inset -9.9px -9.9px 15px #ffffff;
    border: 4px solid var(--violet);  
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    max-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a i {
    padding: 10px 10px;
    margin-right: 10px;
    font-size: 2em; 
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.toggle {
    position: fixed;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 10001;
    border-radius: 20px ;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.topbtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 10001;
    border-radius: 20px ;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.topbtn:hover {
    background: var(--blue);
    color: var(--white);
}

.user {
    position: relative;
    margin-top: 20px;
    margin-left: 6px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}