.frontend-card,
.backend-card,
.environment-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(110,07,243,0.08);
    border: 4px solid var(--white);  
}   

.progress-card {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.frontend-card h2,
.backend-card h2,
.environment-card h2{
    color: var(--violet);
    padding: 10px;
    font-size: 2em;
}

.frontend-card:hover,
.backend-card:hover,
.environment-card:hover {
    box-shadow: 9.9px 9.9px 15px #d9dade,
    -9.9px -9.9px 15px #ffffff,
    inset 9.9px 9.9px 15px #d9dade,
    inset -9.9px -9.9px 15px #ffffff;
    border: 4px solid var(--violet);  
    transition:  0.5s;
}

.progress-card .card{
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 7px 25px rgba(110,07,243,0.08);
}

.progress-card .card:hover{
    border: 4px solid var(--violet);  
    transition:  0.1s;
}

.frontend-card .card:hover,
.backend-card .card:hover,
.environment-card .card:hover{
    box-shadow: 9.9px 9.9px 15px #d9dade,
    -9.9px -9.9px 15px #ffffff,
    inset 9.9px 9.9px 15px #d9dade,
    inset -9.9px -9.9px 15px #ffffff;
}

.card img {
    scale: 0.4;
}