.project-page {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    width: 65%;
}

.project-page header {
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 0.2rem solid;
    /* background-color: var(--violet); */
    background-image: linear-gradient(to right top, #6e07f3, #8336f5, #9652f7, #a76bf8, #b683f9);
    border-radius: 1.4rem;
    /* border-color: var(--violet); */
    color: var(--white);
}

.project-page button {
    align-self: flex-start;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.2rem solid;
    border-radius: 1.4rem;
    background-color: var(--white);
    color: var(--violet);
    border-color: var(--white);
    transition: all 0.3s ease-in-out;
}

.project-page button:hover {
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 20%);
    transform: translateY(-0.25rem);
    border: 0.2rem solid var(--violet2);
    background-color: var(--violet2);
    transition: 0.3s;
    color: var(--white);
}

.project-page button a {
    text-decoration: none;
    color: var(--violet);
}

.project-page button:hover a {
    color: var(--white);
}

.project-page h1 {
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    /* color: var(--white); */
}

.project-page h1 a {
    text-decoration: none;
    color: var(--white);
}

.project-page .summary {
    font-size: large;
    padding: 1rem;
    text-align: center;
}

#video {
    /* position: relative; */
    margin: auto;
    /* width: 60%; */
    /* height: ; */
}

#description {
    /* padding: 1rem; */
    margin: 0 0;
    /* width: 60%; */
}

#description h2 {
    padding: 1.4rem 0;
    justify-content: start;
}

#description p {
    padding: 0;
}

#description span  {
    color: var(--violet2);
    font-weight: 600;
}

.project-page .tag {
    /* bottom: 0; */
    padding: 1.4rem 0;
    /* padding-bottom: 0.5rem; */
    /* position: absolute; */
    display: flex;
    cursor: default;
}

.project-page .tag *:hover {
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 20%);
    transform: translateY(-0.25rem);
    transition: 0.3s;
    color: var(--white);
}

.project-page .tag * {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 0.2rem solid;
    border-radius: 1.4rem;
    font-size: normal;
    transition: all 0.3s ease-in-out;
}

.project-page .tag .javascript {
    color: #f0db4f;
}

.project-page .tag .javascript:hover {
    color: #fff;
    background-color: #f0db4f;
    border: 0.2rem solid #f0db4f;
}

.project-page .tag .bootstrap {
    color: #553c7b;
}

.project-page .tag .tailwind {
    color: #38BDF8;
}

.project-page .tag .symfony {
    color: #000000;
}

.project-page .tag .symfony:hover {
    color: var(--white);
    background-color: #000000;
    border: 0.2rem solid #000000;
}

.project-page .tag .tailwind:hover {
    color: var(--white);
    background-color: #38BDF8;
    border: 0.2rem solid #38BDF8;
}

.project-page .tag .bootstrap:hover {
    color: var(--white);
    background-color: #553c7b;
    border: 0.2rem solid #553c7b;
}

.project-page .tag .laravel {
    color: #f05340;
}

.project-page .tag .laravel:hover {
    color: var(--white);
    background-color: #f05340;
}


.project-page .tag .blade {
    color: #e42d27;
}

.project-page .tag .blade:hover {
    color: var(--white);
    background-color: #e42d27;
    border: 0.2rem solid #e42d27;
}

.project-page .tag .php {
    color: #787cb5;
}

.project-page .tag .php:hover {
    color: var(--white);
    background-color: #787cb5;
    border: 0.2rem solid #787cb5;
}

.project-page .tag .phpmyadmin {
    color: #f89c0e;
}

.project-page .tag .phpmyadmin:hover {
    color: var(--white);
    background-color: #f89c0e;
    border: 0.2rem solid #f89c0e;
}

.project-page .tag .mysql {
    color: #00758f;
}

.project-page .tag .mysql:hover {
    color: var(--white);
    background-color: #00758f;
    border: 0.2rem solid #00758f;
}

.project-page .tag .api {
    color: var(--black1);
}

.project-page .tag .api:hover {
    color: var(--white);
    background-color: var(--black1);
    border: 0.2rem solid var(--black1);
}