#reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
    padding: 1.4rem 0;
}

.review {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 49%;
    height: 35rem;
    border-radius: 1.4rem;
    background-color: #fff;
    border: 0.2rem solid var(--white);
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 20%);
    transition: all 0.3s ease-in-out;
}

.review h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(to right top, #6e07f3, #8336f5, #9652f7, #a76bf8, #b683f9);
    border-radius: 1rem 1rem 0 0;
    font-size: 1.4rem;
    color: var(--white);
}

.review:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.375rem 0.75rem rgba(0, 0, 0, 20%);
    border: 4px solid var(--violet);
}

.review-title {
    font-size: 1.2rem;
    padding: 1.4rem 1rem;
    color: var(--violet);
    text-transform: uppercase;
}

.review .text {
    padding: 0 1rem;
}

@media (max-width: 1024px) {
    #reviews {
        width: 90vw;
    }

    .reviews {
        width: 90vw;
        font-size: 0.8rem;
    }

    .review {
        width: 90vw;
        margin: 0 auto 1.4rem;
    }

    .review h3 {
        text-align: center;
    }
}

    @media (min-width: 1025px) and (max-width: 1280px) {
        #reviews {
            width: 80vw;
        }
    
        .reviews {
            width: 80vw;
            font-size: 0.8rem;
        }
    
        .review {
            width: 90vw;
            margin: 0 auto 1.4rem;
        }
}