@import './about_me.css';
@import './profile-card.css';
@import './nav.css';
@import './cards.css';
@import './progressbar.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif; 
}

:root {
    --blue : #4b8fe7;
    --white : #fff;
    --grey : #f5f5f5;
    --black1: #222;
    --black2: #999;
    --violet: #6E07F3;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: var(--violet);
    padding-top: 80px;
    padding-bottom: 60px;
}

p {
    padding-top: 10px;
}

#index {
    padding-top: 150px;
}

.exp-container,
.hardSkill-container,
.softSkill-container {
    grid-area: aboutMe;
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.cardHeader {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--violet);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--violet);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}


/*responsive*/

@media (max-width: 991px) {
    .navigation {
        width: 100%;
    }
    .navigation ul {
        width: 100%;
    }
    .main {
        width: 100%;
        left: 0;
    }
    .cardBox,
    .skill {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders {
        overflow-x: auto;
    }
    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox,
    .skill {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 80%;
    }
    /* .navigation.active {
        width: 100%;
        left: 0;
    }
    .toggle {
        z-index: 10001;
    }
    .main.active .toggle {
        position: fixed;
        left: initial;
        color: var(--white);
    } */
}