@import url('./about_me.css');
@import url('./contact.css');
@import url('./disclaimer.css');
@import url('./filter.css');
@import url('./profile-card.css');
@import url('./projects.css');
@import url('./nav.css');
@import url('./reviews.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu,sans-serif; 
}

:root {
    --white : #fff;
    --grey : #f5f5f5;
    --black1: #222;
    --black2: #999;
    --violet: #6E07F3;
    --violet2:#b683f9;   
    --orange: #fc6d6d;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--violet);
    text-transform: uppercase;
}

p {
    padding-top: 10px;
}

#index {
    padding-top: 150px;
}

.skill .header,
.review .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-image: linear-gradient(to right top, #6e07f3, #8336f5, #9652f7, #a76bf8, #b683f9);
    border-radius: 1rem 1rem 0 0;
}

/*responsive*/

@media (max-width: 991px) {

    .main {
        width: 100%;
        left: 0;
    }

}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }
    .recentOrders {
        overflow-x: auto;
    }
    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox,
    .skill {
        grid-template-columns: repeat(1,1fr);
    }
    .cardHeader h2 {
        font-size: 20px;
    }
    .user {
        min-width: 40px;
    }
    .navigation {
        width: 80%;
    }
}